@import "/src/styles/extend.scss";

div.article-cards-items {
    --item-padding-default: 24px;
    --item-padding-bottom-offset: 8px;
    --item-padding: var(--item-padding-default);
    --avatar-size: 58px;
    --avatar-border-size: 1px;
    --min-height: 176px;

    @include media-breakpoint-down(xxl) {
        --avatar-size: 84px;
        --item-padding-default: 26px;
    }

    @include media-breakpoint-down(xl) {
        --avatar-size: 80px;
        --item-padding-default: 24px;
        --min-height: 210px;
    }

    @include media-breakpoint-down(lg) {
        --avatar-size: 78px;
        --item-padding-default: 22px;
    }

    @include media-breakpoint-down(md) {
        --avatar-size: 72px;
        --avatar-border-size: 1px;
        --item-padding-default: 20px;
        --min-height: 220px;
    }

    @include media-breakpoint-down(sm) {
        --avatar-size: 70px;
        --avatar-border-size: 1px;
        --item-padding-default: 20px;
        --min-height: 200px;
    }
}

div.article-cards-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 14px;
    padding: var(--item-padding);
    height: 100%;
    min-height: var(--min-height);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: none;
    transition: 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        border-color: rgba(255, 255, 255, 0.14);
        background: rgba(255, 255, 255, 0.03);
    }
}

a.article-cards-item-link {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.article-cards-item-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border: var(--avatar-border-size) solid rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    background-color: var(--theme-card-background-accent);
    font-size: calc(var(--avatar-size)/2.2)!important;
}

div.article-cards-item-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0;
    height: 100%;
    @include media-breakpoint-down(lg) {
        margin-top: 12px;
    }

    h6 {
        color: var(--theme-primary);
        font-weight: 600;
        margin-bottom: 6px;
    }

    &-description {
        color: var(--theme-texts-light-2);
        flex-grow: 1;
    }

    &-date-badge {
        width: 140px;
        margin: calc(var(--avatar-size)/8) 0 0;
    }
}